@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/DANGNHAP.css")" />





<!--phần conten đăng nhập-->

<div class="main">
    <h3 style="text-align:center">ĐĂNG NHẬP BẰNG</h3>
    <div>
        <div class="all-face-google">
            <div class="div-face">
                <button type="button" class="but-face">
                    FACEBOOK
                </button>
            </div>
            <div class="div-google">
                <button type="button" class="but-google">
                    GOOGLE
                </button>
            </div>
        </div>

        <div class="container">
            <div class="form-box">
                <h2>ĐĂNG NHẬP</h2>
                <input type="email" placeholder="Email của bạn">
                <input type="password" placeholder="Mật khẩu">
                <button>Đăng nhập</button>
            </div>

            <div class="form-box">
                <h2>ĐĂNG KÝ THÀNH VIÊN MỚI</h2>
                <input type="text" placeholder="Họ">
                <input type="text" placeholder="Tên">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Mật khẩu">
                <input type="password" placeholder="Nhập lại mật khẩu">
                <button>Đăng ký</button>
            </div>
        </div>

        <hr />
    </div>

</div>









